html, body { margin: 0; padding: 0; }
body * { box-sizing: border-box; }
:root {
	--icon-size: 74px;
	--icon-radius: 10px;
	--color: #444;
	--bg: #eee;
}

body {
	font: 12px sans-serif;
	background: var(--bg);
	color: var(--color);
	-moz-user-select: none;
}

header {
	width: 100%;
	max-width: 820px;
	margin: 20px auto;
	font-size: 13px;
	text-align: center;
	font-weight: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;
}

header .title {
	flex: 1;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 2.3em;
	opacity: 0.6;
}

.btn-back {
	position: absolute;
	left: 0;
	display: none;
	height: 30px;
	width: 30px;
	border: none;
	text-align: center;
	cursor: pointer;
	z-index: 10;
}
.btn-back svg { height: 16px; width: 16px; margin: 3px 0 0 -1px; }
.btn-back path { fill: #888; transition: fill .2s; }
.btn-back:hover path { fill: #111; }





.bookmarks {
	width: 100%;
	max-width: 968px;
	margin: 20px auto;
	padding: 0 var(--icon-size);
	display: grid;
	grid-gap: 74px;
	grid-auto-rows: minmax(var(--icon-size), auto);
	grid-template-columns: repeat(auto-fill, minmax(var(--icon-size), 1fr));
}

.item {
	width: var(--icon-size);
	height: var(--icon-size);
	margin: auto;
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
}

.item .thumb {
	width: var(--icon-size);
	height: var(--icon-size);
	display: block;
	border-radius: var(--icon-radius);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	background-color: #f9f9f9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.item .title { margin-top: 10px; padding: 0; display: block; overflow: hidden; }
.item.folder .thumb { background-size: 80%; }

.item .letter-thumb {
	background-image: linear-gradient(rgb(255, 255, 255, 0.7), rgb(230, 230, 230, 0.9));
	overflow: hidden;
	color: #555;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15%;
	font-family: helvetica, arial, sans-serif;
	font-size: calc(var(--icon-size) - 25px);
	font-weight: 600;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
}



@media (max-width: 665px) {
	.bookmarks { grid-gap: 54px 37px; }
}