html, body { margin: 0; padding: 0; }
body { font: 12px sans-serif; background: #eee; color: #444; -moz-user-select: none; }
body * { box-sizing: border-box; }
:root { --app-size: 74px; }


header {
	width: 100%;
	max-width: 820px;
	margin: 20px auto;
	font-size: 13px;
	text-align: center;
	font-weight: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;
}

header .title {
	flex: 1;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	line-height: 2.3em;
}

.btn-back {
	position: absolute;
	left: 0;
	display: none;
	height: 30px;
	width: 30px;
	border: none;
	text-align: center;
	cursor: pointer;
}
.btn-back svg { height: 16px; width: 16px; margin: 3px 0 0 -1px; }
.btn-back path { fill: #888; transition: fill .2s; }
.btn-back:hover path { fill: #111; }





.bookmarks {
	width: 100%;
	max-width: 968px;
	margin: 20px auto;
	padding: 0 var(--app-size);
	display: grid;
	grid-gap: 74px;
	grid-auto-rows: minmax(var(--app-size), auto);
	grid-template-columns: repeat(auto-fill, minmax(var(--app-size), 1fr));
}

.item {
	width: var(--app-size);
	height: var(--app-size);
	margin: auto;
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
}

.item .thumb {
	width: var(--app-size);
	height: var(--app-size);
	display: block;
	border-radius: 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	background-color: #f9f9f9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.item .title { margin-top: 10px; padding: 0; display: block; overflow: hidden; }
.item.folder .thumb { background-size: 80%; }





@media (max-width: 665px) {
	.bookmarks { grid-gap: 54px 37px; }
}