html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
body {
	box-sizing: border-box;
	font: 16px sans-serif;
	background: #eee;
	color: #444;
	padding: 20px;
	overflow-y: auto;
}
body * { box-sizing: inherit; }

footer { height: 40px;  }

.row {
	display: flex;
	clear: both;
	margin-bottom: 10px;
	width: 500px;
	align-items: center;
	position: relative;
}

.row>label { width: 140px; white-space: nowrap; }
.row input {
	flex: 1;
	padding: 5px 10px;
	margin: 0;
	font: inherit;
}

.row input[type=radio],
.row input[type=checkbox] {
	width: auto;
	flex: unset;
	margin-bottom: 3px;
	margin-right: 5px;
	transform: scale(1.3);
}

.range-tooltip {
	position: absolute;
	top: -4px;
	right: -60px;
	width: 50px;
	height: 24px;
	background: #888;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0 0;
}

small { opacity: 0.7; display: block; margin: 10px 0;  }


.buttons { margin-top: 20px;  }

button {
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid #888;
	background: #eee;
	transition: background .2s;
	margin-right: 10px;
}
button:focus,
button:hover { background: #bbb; }

.btn-submit { font-weight: bold;  }
.btn-clear { background: #A01; color: #fff; border: none; margin: 50px 0 0; }

.btn-clear:focus,
.btn-clear:hover { background: #601;  }