html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
body * { box-sizing: border-box; }
body { font: 16px sans-serif; background: #eee; color: #444; padding: 20px; }


label {
	display: flex;
	clear: both;
	margin-bottom: 10px;
	width: 500px;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

label input {
	width: 405px;
	padding: 5px 10px;
	margin: 0;
	font: inherit;
}

label input[type=range] {}

.range-tooltip {
	position: absolute;
	top: -4px;
	right: -50px;
	width: 40px;
	height: 24px;
	background: #888;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0 0;
}

button {
	font-size: 16px;
	padding: 5px 30px;
}

.btn-submit {
	font-weight: bold;
	margin-top: 20px;
}

